@import '../common.scss';

body {
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
    border-radius: 10px;
  }
}

.core {
  //   min-width: 500px;

  .divider {
    width: 100%;
    height: 1px;
    background-color: $gray;
    margin: 15px 0;
  }
}
