@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f2ef;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

main {
  margin: 0 auto;
  margin-top: 90px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: minmax(200px, 0.9fr) minmax(400px, 550px) 1.1fr;
  grid-template-rows: auto;
  grid-gap: 25px;

  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 900px) {
    grid-template-columns: minmax(200px, 0.9fr) minmax(300px, 550px);

    .right-bar {
      display: none;
    }

    // .nav {
    //   display: none !important;
    //   width: 100% !important;
    // }
  }
}
